<section class="leds">
    <h2>Sleeping status</h2>
    <div class="{{data.output.led}} status"></div>
    <form action="/api" method="post">
        <select name="output">
            <option value="red">You have got to rest before going to bed!</option>
            <option value="white">You're ok.</option>
            <option value="green">That was a great night's sleep!</option>
        </select>
        <button type="submit">
            Update
        </button>
    </form>
</section>

<section class="sensors">
    <section>
        <h2>Data</h2>
        <p>Last update: {{data.time}}</p>
        <p>LED color: {{data.output.led}}</p>
        <p>Amount of motion detected: {{data.input.motion}}</p>
    </section>
</section>
