body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: helvetica, sans-serif;
}

#header {
    display: flex;
    background: #25A18E;
    padding: 0.5em;
    justify-content: space-between;
}

h1 {
  color: white;
  font-size: 1.5em;
  font-weight: 400;
}

h2 {
  color: #34495e;
  font-weight: normal;
}

p {
  color: #34495e;
}

nav > ul {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    margin-right: 1em;
}

ul > li {
    padding: 0.3em;
}

ul > li > a {
    color: white;
    text-decoration: none;
}

li a:hover {
    border-bottom: 1px solid white;
}


#main {
    width: 100%;
    min-width: 13em;
    margin: 0 auto;
}

#footer {
    background: #34495e;
    text-align: center;
    padding: 1em;
}

/*Content*/
button {
    /*box-shadow: 0;*/
    /*outline: 0;*/
    /*border: 0;*/
    background: #25A18E;
    padding: 0.5em;
    margin: 1em 0 0.5em;
    color: #f9f9f9;
    cursor: pointer;
    border: 1px solid transparent;
    font-size: 0.8em;
    /*background-clip: padding-box;*/
}

select {
    font-size: 16px;
    font: 1em/1.4 sans-serif;
}


.none, .disabled {
    display: none !important;
}

section {

}

.chart {
    flex: 1 0 100%;
}

.chart h2 {
    text-align: center;
}

.leds {
    /*display: inline-block;*/
    /*flex: 0 1 21em;*/
    background: #f1f1f1;
    padding: 1em;
}

.leds .status {
    display: block;
    height: 100px;
    width: 100%;
    background: #f9f9f9;
}
.leds .red {
    background: rgb(255, 3, 3);
}
.leds .white {
    background: rgb(255, 255, 255);
}
.leds .green {
    background: rgb(70, 198, 43);
}

.sensors {
    flex: 0 1 20em;
    background: #f1f1f1;
    padding: 1em;
}

#footertext {
   color: white;

}
